.hero {
  font-family: "Poppins", sans-serif;
  h1 {
    color: map-get($color, "primary");
    font-weight: 600;
  }
  p {
    font-size: 14px;
    color: map-get($color, "black");
  }
  img {
    width: 100%;
    max-width: 550px;
  }
  .hero-copy {
    margin: 20px;
  }
}
